<h1>Results for {{city}}</h1>


<!-- <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{{this.image_url}}" alt="Card image cap" width="150" height="150">
      <div class="card-body">
        <h3 class="card-title">{{this.name}}</h3>
        <p class="card-text">Rating: {{this.rating}}</p>
        <p class="card-text">Address: {{this.location.address1}}</p>

      </div>
  </div>
</div> -->
<div class="card-deck">

  <div class="row">
    {{#each businesses}}
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-responsive" src="{{this.image_url}}" alt="Card image cap" />
          <div class="card-body d-flex align-items-stretch">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">Rating: {{this.rating}}</p>
            <p class="card-text"><small class="text-muted">Address: {{this.location.address1}}</small></p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

</div>
<!-- <h3>{{this.name}}</h3>
  <h5>Rating: {{this.rating}}</h5>
  <h5><a href="{{this.image_url}}">Sandwich Money Shot</a></h5> -->
