<h1>All Users</h1>

<div class="user-search">
  <form action="/users/search">
    Search: <input type="text" name="term" />
    <input type="submit"/>
  </form>
</div>

<a href="/users/new">New User</a>

<div class="row">
  {{#each users}}
    <div class="col-sm-3">
      <h2><a href="/users/{{this._id}}">{{this.name}}</a></h2>
      <h4>{{this.bio}}</h4>
    </div>
  {{/each}}
</div>

<div class="page-index" style="display:inline-block;margin-top:200px;">
  {{#is currentPage 1}}
    <!-- <p style="display: none;">Hello</p> -->
  {{else}}
    <a href="/users/?page={{subtract currentPage 1}}">Previous</a>
  {{/is}}

  {{#times pagesCount}}
    <a href="/users/?page={{this}}">{{this}}</a>
  {{/times}}

  {{#is currentPage pagesCount}}
  {{else}}
    <a href="/users/?page={{sum currentPage 1}}">Next</a>
  {{/is}}
</div>
